@use "../../styles/helper.scss" as helper;

.Services {
  &__wrapper {
    @include helper.breakpoint_up(large) {
      @include helper.flexDisplay($justify: space-between);
      gap: 20px;
    }
  }

  &__content_div {
    @include helper.content_div(46%);
  }

  &__service_wrapper {
    margin-top: 20px;

    @include helper.breakpoint_up(small) {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: 20px;
    }

    @include helper.breakpoint_up(large) {
      width: 50%;
    }

    &__service_box {
      padding: 20px;
      background-color: white;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      @include helper.breakpoint_up(large) {
        margin-bottom: 0px;
        display: grid;
      }

      &:nth-child(3) {
        svg {
          path {
            stroke: var(--highlight-clr);
            fill: transparent;
          }
        }
      }

      &__head_text {
        margin: 10px 0px;
      }

      &__icon svg {
        width: 35px;
        height: 35px;
        fill: var(--highlight-clr);
        & path {
          fill: var(--highlight-clr);
          // stroke: transparent;
        }
      }

      &__icon.data_icon svg path {
        stroke: var(--highlight-clr);
        fill: transparent;
      }

      &__desc {
        color: hsl(0, 0%, 20%);
      }
    }
  }
}
